# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
.env

# Virtual environments in subprojects
Project TemplateTree app v3/new_venv/
Project TemplateTree app v3/venv/
Project TemplateTree app v3/out/
validation_venv/
